<div class="">
    <div class="flex items-center justify-between pt-16 w-full">
        <div class="grid gap-y-4">
            <p class="font-bold text-4xl md:text-6xl">{{ data.word }}</p>
            <p *ngIf="data.phonetic" class="text-[#a445ed]">{{data.phonetic}}</p>
        </div>
        <button *ngIf="isAudio" (click)="playAudio()" class="w-14 text-white md:w-20 aspect-square rounded-full bg-purple-500 hover:bg-purple-800">play</button>
    </div>
    <div>
        <app-meaning *ngFor="let meaning of data.meanings" [meaning]="meaning"></app-meaning>
    </div>
</div>

