

<div class="grid justify-items-center py-28">
	<div class="w-full grid">
		<input (input)="onInput($event)" type="text" [(ngModel)]="userInput" placeholder="Search for any word..." class="text-lg font-semibold p-4 w-1/2 rounded-xl bg-gray-100 mx-auto">
	</div>
	<div *ngIf="!error" class="w-1/2">
		<app-info *ngIf="responseList" [data]="responseList" ></app-info>
	</div>
	<p *ngIf="error">Sorry Pal, we couldn't find the definition</p>
</div>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
