

<div class="grid justify-content-center mx-8 py-14 lg:py-28 max-w-2xl md:mx-auto">
	<app-header></app-header>
	<div class="w-full grid">
		<input (input)="onInput($event)" type="text" [(ngModel)]="userInput" placeholder="Search for any word..." class="text-base font-bold tracking-normal py-3 px-5 w-full rounded-2xl bg-[#f9f9f9] mx-auto">
	</div>
	<div *ngIf="!error" class="">
		<app-info *ngIf="responseList" [data]="responseList" ></app-info>
	</div>
	<p *ngIf="error">Sorry Pal, we couldn't find the definition</p>
</div>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
